# Python cache
__pycache__/
*.pyc
**/__pycache__/

# Virtual environments (support both names)
.venv/
venv/

# Local secrets and env
.env
.env.*   # (optional, in case you use variations)

# One-off config/scripts anywhere in the tree
**/onetime_and_config/

# docs folder
**/docs/** 

data/

# Artifacts created by workflows or local runs
secure-connect.zip
